streamlit
numpy
av
# Usamos uma versão específica do MediaPipe que é super estável
mediapipe==0.10.14
# Forçamos o headless e evitamos que o mediapipe puxe a versão completa
opencv-python-headless
streamlit-webrtc
